<footer class="py-5 mt-5">
    <div class="container text-center">
        <h5>Loreto Web</h5>
        <p class="mb-2">Memória • Fé • Cultura • Tecnologia</p>

        <p class="small mb-3">
            Desenvolvido com muito respeito e carinho por
            <a href="https://www.instagram.com/jtiagocosta" target="_blank" class="text-decoration-none fw-bold">João
                Tiago</a>.
        </p>
    </div>

    <div class="container" id="politica-privacidade">
        <h3>Política de Privacidade</h3>
        <p>Última atualização: 15/06/2026</p>
        <p>Esta Política de Privacidade descreve como o site Loreto Web coleta, utiliza e compartilha suas informações.
        </p>

        <h5>1. Informações Coletadas</h5>
        <p>Não coletamos dados pessoais automaticamente. Se você entrar em contato conosco por e-mail, suas informações
            serão utilizadas exclusivamente para responder sua mensagem.</p>

        <h5>2. Uso de Bibliotecas de Terceiros</h5>
        <p>Embora não coletamos dados pessoais automaticamente em nosso site, podemos utilizar bibliotecas e serviços de
            terceiros, como jsDelivr, que podem coletar informações sobre sua interação com o site. Essas bibliotecas
            são usadas para melhorar a funcionalidade e a experiência do usuário.</p>

        <p>Recomendamos que você consulte as políticas de privacidade desses terceiros para entender suas práticas de
            coleta de
            dados. Não temos controle sobre as práticas de privacidade de terceiros e não nos responsabilizamos por
            quaisquer
            dados que possam ser coletados por essas bibliotecas.</p>

        <h5>3. Cookies</h5>
        <p>Nosso site não utiliza cookies de rastreamento. Não compartilhamos informações pessoais com terceiros.</p>

        <h5>4. Alterações a Esta Política</h5>
        <p>Podemos atualizar esta Política de Privacidade de tempos em tempos. Notificaremos você sobre quaisquer
            alterações publicando a nova Política de Privacidade nesta página.</p>

        <h5>5. Contato</h5>
        <p>Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco.</p>

        <br>
        <p class="mb-0">© 2026 Loreto Web</p>
    </div>
</footer>
