<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Loreto Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="loreto.html">Loreto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pontos-turisticos.html">Turismo</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside">
                        Paróquia
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside">
                                Igrejas
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="paroquia.html#igreja-matriz">Igreja Nossa Senhora de
                                        Loreto</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="paroquia.html#santuario-nsa-coco">Santuário Coco da
                                        Aparecida</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside">
                                Mural
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="mural-andor.html">Fotos do Andor</a></li>
                            </ul>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside">
                                Grupos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Terço dos Homens</a></li>
                            </ul>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside">
                                Programações
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="missas-semanais.html">Missas Semanais</a></li>
                                <li><a class="dropdown-item" href="programacao-grupos-oracao.html">Programação
                                        Grupos</a>
                                <li><a class="dropdown-item" href="programacao-festejos.html">Programação
                                        Festejos</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>